
body {
    font-family: 'Poppins', sans-serif;
    margin: 0rem 20rem 0rem 20rem;
}




.title {
    text-align: center;
}


.nav-container {
    background-color: rgb(67, 149, 226);
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.nav-container a {
    margin-left: 8rem;
    font-weight: 800;
}

.nav-container a:hover {
    color: yellow;
}

.main-section-container {
    margin: 0rem 0rem 0rem 7rem;

}

.main-container-menu {
    display: flex;
    margin: 0rem 0rem 0rem 3rem;
}

.aside-principal-component-container {
    margin-top: 2rem;
}


.popular-article-div-container {
    display: flex;
}



.section-title {
    display: block;
}