

body {
    font-family: 'Poppins', sans-serif;
    margin: 0rem 20rem 0rem 20rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 25% top 30%;
}



.title-content {
    background-color: aqua;
    
}

.title {
    text-align: center;
}


.main-container {
    display: flex;
}

.aside {
    background-color: blue;
    margin: 0rem 0rem 0rem 4rem;
    padding:5rem;

}

.main-content {
    background-color: brown;
    padding:2rem 15rem 2rem 4rem


}

.article {
    margin-top: 20px;
    text-align: center;
}

.article img{
    margin-top: 20px;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.article a {
        color: #333;
        font-weight: bold;
}
.article a:hover {
        color: #ff6600;
}
.nav-container {
    background-color: rgb(67, 149, 226);
    padding: 1rem;
    display: flex;
    justify-content: center;
    margin: 0 5rem 0 5rem;
}

.nav-container a {
    margin-left: 8rem;
    font-weight: 800;
}

.nav-container a:hover {
    color: yellow;
}

.TITULIN{
    font-size: xx-large;
    color: rgb(0, 252, 63);
}

.Yo{
    color: whitesmoke;
}

.El{
    color: whitesmoke;
}